h1 {
    color: #003e6b;
}
.serviceContent {
    font-weight: 400;
    font-size: 14px;
}
.container.servicecard {
    padding: 0px 12px;
}
.main-service {
    background-color: var(--whiteColor);
}
.about-content.service h2 {
    color: var(--mainDarkColor);
    margin-bottom: 0;
    font-size: 42px;
    text-transform: capitalize;
}

.about-content.service .content h6 {
    color: var(--mainDarkColor);
}
.extra-btn {
    text-align: center;
    display: inline-block;
    transition: var(--transition);
    border-radius: 5px;
    border: none;
    padding: 10px 30px;
    position: relative;
    z-index: 1;
    color: var(--whiteBoth);
    background-color: var(--buttonbgColor);
    font: {
        size: 17px;
        weight: 700;
    }
    &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: 5px;
        background-color: var(--buttonbgColor);
        z-index: -1;
        transition: var(--transition);
    }
    &:hover {
        color: var(--whiteColor);
        background-color: var(--mainLightColor);

        &::before {
            transform: scaleX(0);
        }
    }
}
a.extra-btn {
    margin-left: 30px;
}
