.career-form-main {
    padding: 50px;
}

.agreement-box {
    display: flex;
    gap: 12px;
    align-items: center;
}
.career-title {
    text-align: center;
    color: var(--mainDarkColor);
    padding: 20px 0px;
}
.career-form-main {
    background-color: var(--whiteColor);
}
