.career-form-main.container {
    margin: 50px auto;
}

.agreement-box
{
    display: flex;
    gap: 12px;
    align-items: center;
}
.career-title
{
    text-align: center;
    color: var(--mainDarkColor);
    margin: 20px 0px;
}