a.default-btn.view-process {
    width: auto;
    margin-top: 26px;
}
/*================================================
How It's Work Area CSS
=================================================*/
.how-its-work-area {
    background-color: var(--whiteColor);
}
.how-its-work-content {
    .sub-title {
        display: block;
        margin-bottom: 12px;
        color: var(--mainLightColor);
        font: {
            size: 15.5px;
            weight: 700;
        }
    }
    h2 {
        margin-bottom: 15px;
        font-size: 42px;
        color: var(--mainDarkColor);
    }
    .inner-box {
        margin-top: 35px;

        .single-item {
            position: relative;
            z-index: 1;
            padding: {
                left: 100px;
                bottom: 30px;
            }
            .count-box {
                width: 65px;
                height: 65px;
                position: absolute;
                left: 5px;
                top: 5px;
                line-height: 65px;
                text-align: center;
                color: var(--mainDarkColor);
                border-radius: 50%;
                background-color: var(--whiteColor);
                box-shadow: var(--mainDarkColor) 0 0 0 5px;
                font: {
                    size: 30px;
                    weight: 800;
                    style: italic;
                }
            }
            h3 {
                margin-bottom: 8px;
                color: var(--mainDarkColor);
                font: {
                    size: 25px;
                }
            }
            &::before {
                content: "";
                position: absolute;
                top: 3px;
                width: 1px;
                height: 100%;
                background-color: var(--mainDarkColor);
                z-index: -1;
                left: 40px;
            }
            &::after {
                content: "\ea17";
                position: absolute;
                left: 26px;
                color: var(--mainDarkColor);
                bottom: 10px;
                animation: fade-down 1.5s infinite linear;
                font: {
                    family: "boxicons" !important;
                    size: 30px;
                }
            }
            &:last-child {
                padding-bottom: 0;

                &::before {
                    display: none;
                }
                &::after {
                    display: none;
                }
            }
        }
    }
}
.how-its-work-image {
    text-align: center;
}
