.webservice-heading {
    text-align: center;
    margin-bottom: 10px;
    color: var(--mainDarkColor);
}
.serviceCardImg {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}
.serviceCard {
    padding: 0px 12px 0px;
}
.serviceCard .content {
    padding-top: 50px;
    padding-left: 8px;
    padding-right: 8px;
}
.technology-stack-heading h2 {
    margin: 0;
}
.serviceCardContent h5 {
    font-size: 13px;
    color: var(--mainDarkColor);
}
.serviceCardContent span {
    font-size: 13px;
    color: var(--mainLightColor);
}
.serviceCardContent {
    margin-left: 35px;
}
