.webdevelopment-process h2 {
    color: var(--mainDarkColor);
    padding-bottom: 50px;
    margin: 0;
}
.process-paragraph {
    width: 60%;
    margin-left: 20%;
}
.process-image-holder {
    width: 80%;
    margin-left: 10%;
}
.process-container {
    background-color: var(--whiteColor);
}
