.row.quote {
    align-items: center;
}
.form-group label {
    color: var(--mainDarkColor);
    margin: 6px 0px;
}
.form-control:focus,
.form-select:focus {
    border-color: #003e6b !important;
    background-color: var(--whiteBoth) !important;
    color: #003e6b !important;
}
.subheading {
    color: var(--mainLightColor);
}
.row.quote .contact-form {
    margin-left: 0 !important;
}
.row.quote {
    gap: 8%;
}
.subheading {
    color: var(--mainLightColor);
}

.form-content-holder h2 {
    color: var(--mainDarkColor);
    margin: 10px 0;
    font-size: 42px;
    text-transform: capitalize;
}
.form-content-holder .content {
    max-width: 600px;
}
.form-content-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0 0 20px var(--formShadow);
    padding: 30px;
}

.getAQuote-holder {
    background-color: var(--whiteColor);
}
@media only screen and (max-width: 767px) {
    .form-group.quote label {
        justify-content: flex-start;
        display: flex;
    }
    .about-content.service h2 {
        font-size: 34px;
    }
}
