.our-mission-area {
    h3 {
        font-size: 40px;
        text-align: center;
        color: var(--mainDarkColor);
    }
}
.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.our-mission {
    display: flex;
    justify-content: center;
    align-items: center;

    .left-img {
        width: 30%;
    }
    .right-img {
        width: 45%;
    }
}
.our-mission-area h3 {
    margin-bottom: 50px;
}
