// .owl-item.active.center {
//     max-width: 400px;
//     width: 100% !important;
// }

// .owl-item.active.center + .owl-item.active {
//     max-width: -38px;
//     width: 5% !important;
//     margin-left: 50px;
// }
// .owl-item.active.center + .owl-item.active + .owl-item.active {
//     width: 3% !important;
// }

// .owl-item.cloned.active:nth-child(4) {
//     max-width: -38px;
//     width: 5% !important;
//     margin-left: 50px;
// }
// .owl-item.cloned.active:nth-child(5) {
//     width: 3% !important;
// }
// div.owl-item.active.center{
//     width: 400px !important;
//     padding: 0px 10px;
// }
// div.single-partner-item{
//     width: 400px !important;
//     padding: 0px 10px;
// }
/*================================================
Partner Area CSS
=================================================*/
.partner-area {
    z-index: 1;
    padding: 100px 0;
}

.partners-slides {
    &.owl-theme {
        margin-top: 0;
        .owl-nav {
            position: absolute;
            top: 30%;
            width: 100%;
            display: flex;
            justify-content: space-between;

            [class*="owl-"] {
                background-color: transparent;
                border: 1px solid var(--mainDarkColor);
                margin: 0 7px;
                transition: var(--transition);
                border-radius: 50%;
                width: 40px;
                padding: 0;
                height: 40px;
                color: var(--mainDarkColor);
                text-align: center;
                line-height: 39px;

                &.owl-prev {
                    // margin-right: 0;
                    margin-left: -40px;
                }
                &.owl-next {
                    margin-right: -40px;
                }

                &:hover {
                    background-color: var(--mainLightColor);
                    border-color: var(--mainDarkColor);
                    color: var(--whiteColor);
                }
            }
        }
    }
}

.single-partner-item {
    text-align: center;
    border-radius: 5px;

    .image {
        height: 150px;
        display: grid;
        place-items: center;
        margin: 0 30px;

        img {
            width: 100%;
        }
    }
}

.owl-item.active.center {
    transform: scale(1.5);
    filter: brightness(0) saturate(100%) invert(14%) sepia(99%) saturate(1987%)
        hue-rotate(187deg) brightness(91%) contrast(101%);
}
