.why-dds-cards {
    display: flex;
}
.why-dds-area {
    background-color: var(--whiteColor);
}

.why-dds-card {
    text-align: center;
    padding: 25px;
    border-radius: 10px;
    transition: var(--transition);
    text-align: left;
    position: relative;
    overflow: hidden;

    .title {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: inherit;
        z-index: 1;
    }

    h3 {
        width: 60%;
        color: var(--whiteBoth);
        font-size: 25px 30px;
        margin-bottom: 12px;
    }

    h2 {
        color: var(--grayTextColor);
    }

    p {
        color: var(--whiteBoth);
        position: inherit;
        z-index: 1;
    }
    &:hover {
        background-color: var(--mainbgLightColor);
        box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.1);
        transform: translateY(-10px);
        h2 {
            color: black;
        }
    }
    .why-dds-card:hover .overlay {
        opacity: 0.2;
    }

    .bg-img,
    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: 0.5s;
        background-color: rgba(0, 62, 107);
    }
    // h2 {
    //     color: black;
    // }
}

.why-dds-card {
    background: url(http://localhost:3000/images/why-dds/why-dds.png);
    background-size: cover;
}

.why-dds-card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: 0.5s;
    opacity: 1;
    background-color: var(--darkCardColor);
}
.why-dds-card:hover:before {
    opacity: 0.5;
}
