.container.servicecard.info {
    padding: 50px;
    max-width: 100%;
    background: var(--mainbgDarkColor);
}

.container.servicecard.info h2 {
    text-align: center;
    color: white;
    font-size: 36px;
    margin: 20px 0px;
}
.about-content.info p {
    color: white;
}
.container.servicecard.info .row {
    align-items: center !important;
}
.about-content.info .content {
    padding: 0px !important;
}
