button.accordian-btn {
    display: flex;
    color: white;
    background: var(--mainbgDarkColor);
    width: 100%;
    padding: 10px;
    margin: 4px 0px;
    border: none;
    text-align: left;
}
.icons {
    margin-left: auto;
    display: grid;
    place-items: center;
    width: 24px;
    height: 24px;
    border: 1px solid;
    border-radius: 50%;
}
.accordian-content {
    width: 100%;
    padding: 12px;
    background: var(--faqComponent);
    color: var(--mainLightColor);
}
.accordian-main {
    margin: 14px 0px;
}
.icons svg {
    fill: white;
}
.accordion-main {
    padding: 40px 0px;
    background-color: var(--whiteColor);
}

button.accordian-btn.career {
    background: var(--faqComponent);
    color: var(--mainDarkColor);
    font-weight: 700;
    font-size: 18px;
}
.career-dark-icon img {
    filter: brightness(0) invert(1);
}
.icons.career {
    border: none;
}
.career-info.container p {
    text-align: center;
}
.career-info.container p span {
    color: var(--mainDarkColor);
}
.career-option button {
    width: 30%;
    background: #003e6b;
    color: white;
    border: none;
}
.career-option select {
    width: 60%;
}
.career-option {
    display: flex;
    gap: 10px;
}
.career-position.container {
    background: var(--tagsbgColor);
    padding: 26px;
}
.career-position h3 {
    color: var(--mainDarkColor);
}
.career-option select {
    background-color: var(--formInputColor);
    border: none;
}
