.row.solutions-row {
    width: 100% !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    margin: 0px;
}
.icon.solution {
    background: transparent !important;
}
.features-holder {
    background-color: var(--whiteColor);
}
h2.title {
    text-align: center;
    color: var(--mainDarkColor);
    padding: 0 20px;
    margin: 0;
}
.single-featured-services-box h3 {
    color: var(--mainDarkColor);
}
.single-featured-services-box.feature {
    box-shadow: 0px 15px 35px rgb(0 0 0 / 10%) !important;
    height: 236px;
}
.flaticon-megaphone-dark {
    filter: brightness(0) invert(1);
}
