.area-image-holder {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
}
.area-holder {
    padding: 50px 40px !important;
}
.area-holder a {
    color: var(--mainDarkColor);
}
.area-holder h4 {
    text-align: left;
}
.area-holder p {
    color: var(--mainLightColor);
    text-align: left;
    font-size: 15px;
    margin-bottom: 35px;
}
.read-more-holder {
    text-align: end;
}
.read-more-btn {
    padding: 20;
}

.technology-area-heading {
    padding-bottom: 50px;
    text-align: center;
    color: var(--mainDarkColor);
}
.featured-services-area {
    background: var(--whiteColor);
}
.area-image-holder-dark {
    filter: brightness(0) invert(1);
}
