.pt-50 {
    padding-top: 50px;
}
.expertise-stack {
    background-color: var(--whiteColor);
}
.pb-50 {
    padding-bottom: 50px;
}

.expertise-image-holder {
    width: 250px;
    height: 170px;
}
.expertise-container-holder h6 {
    color: var(--mainDarkColor);
}
.expertise-stack-heading {
    margin-left: 20px;
    color: var(--mainDarkColor);
}
