.reasontochoose-image {
    text-align: center;
    width: 500px;
}
.reasontochoose-content {
    max-width: 600px;
    // padding-top: 0px;
    padding-bottom: 80px;
    padding-left: 20px;
}
.reasontochoose-content .content p {
    color: var(--mainLightColor);
}
.reasontochoose-title {
    text-align: left !important;
    margin-top: 0px !important;
    color: var(--mainDarkColor);
    margin-bottom: 30px;
}
.container.reasontochoose.info {
    padding: 50px;
    max-width: 100%;
}
.getStarted-btn-holder {
    text-align: center;
    display: inline-block;
    transition: var(--transition);
    border-radius: 5px;
    border: none;
    padding: 10px 30px;
    position: relative;
    z-index: 1;
    color: var(--whiteColor);
    background-color: var(--mainLightColor);
    font: {
        size: 17px;
        weight: 700;
    }
    &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: 5px;
        background-color: var(--mainDarkColor);
        z-index: -1;
        transition: var(--transition);
    }
    &:hover {
        color: var(--whiteColor);

        &::before {
            transform: scaleX(0);
        }
    }
}
