.testimonial-name {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
}

.testimonial-name h6{
    margin: 0px;
    color: var(--mainDarkColor);
}

.testimonial-name span{
    color: var(--mainLightColor);
}

.container.testimonial-page {
    margin: 30px auto;
}
blockquote.wp-block-quote.testimonial{
    font-size: 16px;
    text-align: left;
    padding: 28px !important;
}
.overview-box .overview-content .content.testimonial h2 {
    font-size: 30px;
    margin-left: 10%;
}
.content.testimonial:before { 
    content: url("/images/testimonial/quote.png");
    // background-image: url("/images/testimonial/quote.png");
    font-size: 38px;
    position: absolute;
    left: 0;
    top: 2%;
}
.content.testimonial .sub-title{
    margin-left: 10%;
}

.content.testimonial{
    position: relative;
}